* {
    margin                     : 0;
    padding                    : 0;
    box-sizing                 : border-box;
    -webkit-tap-highlight-color: transparent;
}

.center {
    text-align: center;
}

body {
    background-color: #FFFBE9;
    font-size       : 14px;
    font-family     : PingFangSC-Medium;
}
.container{
    height: 100vh;
}

.banner {
    display: block;
    width  : 100%;
}

.main {
    width     : 6.7rem;
    margin    : 0 auto 0;
    background: #fff;
    position  : relative;
    top       : -1.2rem;
    padding   : .4rem .6rem .6rem;
}

h1 {
    font-size  : .4rem;
    font-weight: 500;
    color      : rgba(53, 52, 66, 1);
    line-height: .56rem;
}

.head-line {
    margin : .2rem auto 0.6rem;
    display: block;
}

.input-wraper {
    width     : 5.5rem;
    height    : .88rem;
    padding   : .24rem .2rem;
    display   : block;
    background: #F1F4FF;
    position  : relative;
    border    : 1px solid transparent;
}
.input-wraper-error {
    border-color: red;
}
.input-wraper input {
    height     : 100%;
    border     : none;
    outline    : none;
    background : transparent;
    display    : inline-block;
    margin-left: .2rem;
    font-size  : .28rem;
}

.input-wraper input:focus {
    background: transparent;
    border    : none;
    outline   : none;
}

.input-wraper+.input-wraper {
    margin-top: .2rem;
}

.input-wraper .icon {
    height        : 100%;
    display       : inline-block;
    vertical-align: middle;
}

::-webkit-input-placeholder {
    color: #C4C4C4;
}

.get-code {
    width      : 2rem;
    position   : absolute;
    right      : .2rem;
    top        : .24rem;
    height     : .4rem;
    color      : #999;
    font-weight: 400;
    border-left: 2px solid #E0E0E0;
    text-align : center;
}

.btn {
    width        : 5.5rem;
    line-height  : .96rem;
    background   : linear-gradient(90deg, rgba(255, 234, 62, 1) 0%, rgba(255, 206, 28, 1) 100%);
    border-radius: .48rem;
    text-align   : center;
    font-size    : 16px;
    font-family  : PingFangSC-Medium;
    font-weight  : 500;
    margin-top: .6rem;
    color        : rgba(51, 51, 51, 1);
}
/* toast */
#toast {
    position: fixed;
    top:45%;
    top:45vh;
    left: 0;
    height: 0;
    width:100%;
    text-align: center;
    box-sizing: border-box;
    display: none;
}
#toast span {
    margin:0;
    padding:10px 20px;
    background: rgba(0,0,0,.7);
    display: inline-block;
    max-width: 80%;
    color:#fff;
    box-sizing: border-box;
    transform: translate(0,-50%);
}


.getCode{
    width: 100vw;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    background: rgba(0,0,0,.4);
    z-index: 4;
    display: none;
}
.getCode_mian{
    width: 5.4rem;
    height: 4.56rem;
    background: #FFFFFF;
    border-radius: 0.24rem;
    box-sizing: border-box;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
    transform: translateX(-50%) translateY(-60%);
    z-index: 2;
    text-align: center;
}
.getCode_header{
    height:3.66rem;
    padding: 0.4rem 0.4rem 0;
    box-sizing: border-box;
    border-bottom: 0.02rem solid #F6F7FB;
}
.getCode_header h4{
    /* height:2.08rem; */
    font-size:0.36rem;
    font-family:PingFangSC-Medium;
    font-weight:600;
    color:rgba(53,52,66,1);
}
.mian_getCode{
    height: 0.88rem;
    background: #F7F8FC;
    display: flex;
    margin-top: 0.4rem;
}
.mian_getCode input {
    width: 100%;
    height: 0.88rem;
    border-radius:0.33rem;
    background: #F7F8FC;
    outline: none;
    border: none;
    padding: 0.24rem;
    box-sizing: border-box;
    font-size:0.28rem;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(196,196,196,1);
    line-height:0.88rem;

}
.main_getImg{
    height: 0.88rem;
    margin-top: 0.2rem;
    display: flex;
}
.main_getImg .getImg_left{
    width: 2.4rem;
    /* height: 0.92rem; */
    background: #d8d8dd;
    margin-right: 0.2rem;
}
.main_getImg .getImg_right{
    height: 0.88rem;
    line-height: 0.88rem;
    font-size:0.28rem;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(141,144,147,1);
    margin-left: 0.2rem;
}

.footer{
    height: 0.88rem;
    display: flex;
    text-align: center;
}
.footer .footer_left{
    flex: 1;
    line-height: 0.88rem;
    font-size:0.32rem;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(97,145,251,1);
    border-right: 0.02rem solid #F6F7FB;
}
.footer .footer_right{
    line-height: 0.88rem;
    flex: 1;
    font-size:0.32rem;
    font-family:PingFangSC-Regular;
    font-weight:400;
    color:rgba(97,145,251,1);
}
.input-wraper-error{
    color:red;
}